@import "tailwindcss";

:root {
  --background: #0f0f11; /* Hitam pastel / Very dark zinc */
  --foreground: #f4f4f5; /* Putih lembut / Zinc 100 */
  --muted: #a1a1aa;      /* Abu-abu redup / Zinc 400 */
  --border: #27272a;     /* Garis tepi halus / Zinc 800 */
}

/* 
  Integrasi variabel kustom ke dalam engine Tailwind v4 
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-inter), sans-serif;
}

/* 
  Base styling 
*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100vw;
  overflow-x: hidden;
}

/* 
  Custom Scrollbar Minimalis 
*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; /* Zinc 700 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* Zinc 600 */
}

/* 
  Aksesibilitas: Hilangkan outline biru default saat diklik dengan mouse,
  tapi tetap ada saat navigasi menggunakan keyboard (Tab)
*/
:focus:not(:focus-visible) {
  outline: none;
}